<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for lock">
    <description>Sniffs for lock</description>

    <file>src</file>

    <arg name="extensions" value="php"/>

    <!-- Use colors in output. -->
    <arg name="colors"/>

    <arg value="ns"/>

    <rule ref="1815BuildingTechniques"/>

    <config name="testVersion" value="8.1-"/>
    <rule ref="PHPCompatibilityWP" />
</ruleset>
